html, body {
  margin: 0;
}

.container.col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin: auto;
}

.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  z-index: 10;
  background-color: #FAFAFA;
}

.filter {
  color: #20A0FF;
  font-weight: bold;
  font-size: 14px;
}

.card {
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 45vw;
  display: inline-block;
}

.card * {
  margin: 4px;
}

.card span {
  display: block;
}

.primary {
  color: #FFF !important;
  background-color: #20A0FF !important;
}

.blue {
  color: #20A0FF;
}

.example-enter {
  left: -250px
}

.example-enter.example-enter-active {
  left: 0;
  transition: all 300ms ease-in;
}

.example-leave {
  left: 0;
}

.example-leave.example-leave-active {
  left: -250px;
  transition: all 300ms ease-in;
}

.offset-left {
  margin-left: 200px
}

@media screen and (min-width: 770px) {
  .card {
    max-width: 20vw;
  }
  .content {
    width: 70vw;
    margin-left: 30vw;
  }
}